<%- include('partials/header') -%>





    <div class="item">
        <h1><%= postsTitle %></h1>
        <p><%= postsContent %></p>
    </div>

    

<%- include('partials/footer') -%>

